body{
    background-image: url("education1.jfif");
}

div#jumbotron-videos{
    opacity:0.6;
    position:center;
    margin:20px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-style:groove;
    border-radius: 20px;
    border-width: 20px;
    border-color: black;
}